# ----------------------
# Dependencies
# ----------------------
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ----------------------
# Testing
# ----------------------
/coverage

# ----------------------
# Next.js / build files
# ----------------------
/.next/
/out/
/build

# ----------------------
# Miscellaneous
# ----------------------
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*

# Vercel deployment
.vercel

# ----------------------
# Public folder exceptions
# ----------------------
# Keep models ignored, but allow all other images
public/models/

# Hero images, 3D textures, and 3dmodels-images (spaces escaped)
public/images/hero/*
public/images/3DTextures/*
public/images/3dmodels-images/Growing\ Habitats/*

# Camera RAW files
*.CR2
*.cr2
*.RAW
*.raw.DS_Store
